body {
    color: black;
    background-color: rgb(83, 206, 165);
    font-family: 'Courier New', Courier, monospace;
}

ul {
    display: flex;
    list-style-type:none;
    align-items: center;
    padding: 10px;
}
a  {
    color: black;
    text-decoration: none;
}
